
    
 body {
    font-family: Arial, sans-serif;
    background-color: gray;
    margin: 0;
    padding: 0;
}
header {
    background-color: #333;
    color: #fff;
    text-align: left;
    padding: 2rem;
    background-image: url(header\ background.png);
    background-size:contain;
}
.container {
    max-width: 800px;
    margin: 0 auto;
    
    padding: 2rem;
    background-color: aliceblue;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-image:url('background.png');
    background-size: cover;
}

.img {
    width: 200px; 
    height: auto;
    border-radius: 5%; 
    margin-bottom: 20px; 
}
.hrule
{
    color:darkgray;
    
}
.image{
    width:20px;
    
}

